:root {
  --primary: #b6895b;
  --bg: #010101;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

body {
  font-family: "Popins", sans-serif;
  background-color: var(--bg);
  color: white;
}

.navbar > .navbar-logo {
}
